<html>
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <title>Infrastructure - <%= name %></title>
        <link rel="stylesheet" href="infra.css">
	</head>
	<body>
        <nav>
            <a href="/infra">Infrastructure</a> |
            <a href="/migrate">Migration</a>
        </nav>
        <h1><%= heading %></h1>
        <div id="content"></div>
    </body>
</html>
<script src="infra.js"></script>