<html>
	<head>
        <link rel="manifest" href="../manifest.json">
	</head>
	<body>
        <form action="/" method="POST">
            <label for="name">Name: </label>
            <input name="name" type="text" required />
            <input type="submit" value="Go"/>
        </form>
    </body>
</html>